.circle {
  border-radius:50%;
  position:relative;
  -webkit-transition:height .25s ease, width .25s ease;
  transition:height .25s ease, width .25s ease;
}

.circle:hover{
  
}

.circle:before,
.circle:after {
  content:'';
  display:block;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  border-radius:50%;
  border: 1px solid rgba(0, 197, 126, 0.3);
}

.ftr-top-grids:hover .circle:before {
  -webkit-animation: ripple 2s linear infinite;
  animation: ripple 2s linear infinite;
}
.ftr-top-grids:hover .circle:after {
  -webkit-animation: ripple 2s linear 1s infinite;
  animation: ripple 2s linear 1s infinite;
}

.circle:hover:before,
.circle:hover:after {
  -webkit-animation: none;
  animation: none;
}

@-webkit-keyframes ripple{
  0% {-webkit-transform:scale(1); }
  75% {-webkit-transform:scale(1.75); opacity:1;}
  100% {-webkit-transform:scale(2); opacity:0;}
}

@keyframes ripple{
   0% {
        -webkit-box-shadow: 0 0;
        box-shadow: 0 0;
		-webkit-transform:scale(1);
    }

    30% {
		-webkit-transform:scale(1.05);
        -webkit-box-shadow: 0 0;
        box-shadow: 0 0
    }

    80% {
		-webkit-transform:scale(1.10);
        -webkit-box-shadow: 0 0 5px 10px rgba(255,255,255,0);
        box-shadow: 0 0 5px 10px rgba(255,255,255,0)
    }

    100% {
		-webkit-transform:scale(1.15);
        -webkit-box-shadow: 0 0 0 0 rgba(255,255,255,0);
        box-shadow: 0 0 0 0 rgba(255,255,255,0)
    }
}