.result_page .bread_crumb {
    border-bottom: 1px solid #dfdfdf;
}
.bread_crumb {
    margin: 0;
    display: table;
    width: 100%;
    border-top: 1px solid #dfdfdf;
}
.sortbyresult {
    text-align: center;
}
.sortbyresult {
    background: #fff;
    height: 34px;
    line-height: 34px;
    position: relative;
    width: 185px;
    display: table-cell;
}
.sortbyresult a {
    background: #e6e6e6;
    display: block;
    font-size: 14px;
    height: 100%;
    width: 167px;
    font-weight: 100;
    padding: 0 0 0 14px;
    text-align: left;
}
a {
    text-decoration: none;
    border: 0;
    outline: 0;
    cursor: pointer;
}
.brdDiv {
    display: table-cell;
    vertical-align: top;
}
.left_arrow {
    border-color: transparent transparent transparent #e6e6e6;
    border-style: solid;
    border-width: 16px 0 19px 19px;
    float: right;
    height: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
}
.bread_crumb ul.brdUL {
    background-color: #fff;
    display: table;
    table-layout: fixed;
    width: 100%;
}
ul, ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
    background: none;
}
.bread_crumb ul.brdUL li {
    text-align: center;
    line-height: normal;
}
.bread_crumb ul.brdUL li {
    border-right: 1px solid #dfdfdf;
    display: table-cell;
    height: 35px;
}
ul, ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
    background: none;
}
.bread_crumb ul.brdUL li a {
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 100%;
    width: 100%;
    display: list-item;
    line-height: 33px;
    color: #424242;
}
