body
{
	background-color:#ccc !important;
}
.logo {
    height: 70px;
    width: 70px;
    margin-top: -13px !important;
    margin-left: 4px;
}
.imageSlider
{
	padding-top:20px;
}
.left{
	padding-right:0px !important
}
.gridleft
{
	padding-right: 8px;
    padding-left: 8px;
}
.container.gallery-container {
    background-color: #fff;
    color: #35373a;
    min-height: 100vh;
    border-radius: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
}

.gallery-container h1 {
    text-align: center;
    margin-top: 70px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}

.gallery-container p.page-description {
    text-align: center;
    max-width: 800px;
    margin: 25px auto;
    color: #888;
    font-size: 18px;
}

.tz-gallery {
  /*  padding: 40px;*/
  padding-top:5px;
}

.tz-gallery .lightbox img {
    width: 100%;
    margin-bottom: 10px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}


.tz-gallery .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.tz-gallery img {
    border-radius: 4px;
}

.baguetteBox-button {
    background-color: transparent !important;
}


@media(max-width: 768px) {
    body {
        padding: 0;
    }

    .container.gallery-container {
        border-radius: 0;
    }
}