
.tabs .tab a:hover, .tabs .tab a.active
{
  color: #1a5f5c;
}

.r-container
{
 /*border: 1px solid rgba(102, 216, 209, 0.44);*/
 padding-bottom: 37px;
}

.tabs .tab a
{
 text-decoration: none;
color: rgba(52, 30, 31, 0.7);
}

#tabs-swipe-demo
{
 border-bottom: 1px solid rgba(50, 109, 109, 0.39);
}

.tabs .indicator
{
   height: 5px;
   background-color: #4099ff;
}

.rating-c
{
 padding: 2%;
}


.data-container {
            margin-top: 20px;
        }

        .data-container ul {
            padding: 0;
            margin: 0;
        }

        .data-container li {
            margin-bottom: 5px;
            padding: 5px 10px;
            background: #eee;
            color: #666;
        }
		
		.paginationjs-pages li
		{
			display : inline;
		}
		
		.paginationjs-pages li a
		{
			padding: 0.8%;
		}
		
		.n-c-icon
		{
			height: 50px;
    border-radius: 50%;
		}
		
		.collection .collection-item.avatar
		{
			padding-left: 1px;
		}
		
		.pd-0
		{
			padding: 0;
		}
		
		.fl-right
		{
			float: right;
		}
		
		.ngrey
		{
			color: #6d6c6c;
		}
		
		.pagination-container
		{
			box-shadow :none ;
		}
		.n-mail
		{
			color: #455a65;
			border-bottom: 1px solid rgba(204, 204, 204, 0.79);
    padding-bottom: 1px;
    margin-bottom: 2px;
    margin-top: 1px;
		}
		
		.tz-gallery icon
		{
		  font-size: 1.1em;	
		}
		
		.mob-no
		{
			margin-left: 10px;
		}
		
		.n-mob ,.n-addr
		{
			    margin-top: 2%;
			
		}
		
		.n-addr .pcon
		{
			display: inline;
            margin-right: 4%;
		}
		
		.n-addr .pcon i
		{
			color: #33363a;
		}
		
		.n-addrtxt
		{
			color: #635e5e;
			display: inline-block;
    width: 85%;
    vertical-align: top;
		}
		
		.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover
		{
			color: #47b4e1!important;
		}
		
		.nav-tabs>li>a
		{
			color: rgb(150, 149, 149);
		}
		
		.btn-rating
		{
			    margin-top: 6%;
    margin-left: 12%;
	
	    background: #98daf6!important;
    font-weight: 600!important;
    color: rgba(16, 13, 13, 0.73)!important;
    text-transform: capitalize;
    border: none!important;
		}
		
		.modal-body input[type=text],.modal-body input[type=password]
		{
			padding: 0.81%;
			margin-left: 3%;
            margin-top: 0.8%;
		}
		
		.modal-body button
		{
			float: right;
			background: #98daf6!important;
    font-weight: 600!important;
    color: rgba(16, 13, 13, 0.73)!important;
    text-transform: capitalize;
    border: none!important;
		}
		.pagination
		{
			float:right;
		}