
.header-two
{
 box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0, 0, 0, 0), 0 3px 1px -2px rgba(0, 0, 0, 0.05);
}

.my-acc
{
    margin-top: 2%;
    margin-left: 3%;
    border-left: 1px solid rgba(128, 128, 128, 0.51);
}

.acc-heading
{
margin-top: 0.51%;
}
.my-acc p
{
    color: #6b5e5e;
    margin-top: 8.6%;
}

.my-acc button
{
    margin-top: 2%;
    background: #98daf6;
    font-weight: 600;
    color: rgba(16, 13, 13, 0.79);
    text-transform: capitalize;
}

.social-icons
{
 margin-top:8%;
}
.shareicon
{
margin-top:0px;
}
.social-icons img
{
    height: 55px;
    width: 55px;
    border-radius: 50%;
    display: inline;
}
.social-icons ul
{
    /*margin-left: 2%;*/
}
.social-icons .dropdown-button
{
   color: rgba(0, 0, 0, 0.76);
}
.social-icons nav
{
   box-shadow: none;
    background: none;
    border: 0;
}

.social-icons .material-icons
{
    margin-right: 11px;
}

.social-icons ul li {
    display: inline;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus
{
 background-color: snow;
}
.social-icons .dropdown-toggle
{
    padding :0;
    color: rgba(51, 48, 48, 0.78);
}

.left-group
{
      margin-left:5px;

}

.left-group ul li h6
{
   margin-top: 2%;
    padding-bottom: 8px;
    border-bottom: 1px dotted;
}

.deals
{
 min-height: 74vh;
}